*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Saira Stencil One", serif;
}
li{list-style: none;}
.app{
    height: 100vh;
}
body.light{
    color: #FFAAFF;
}
