*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{list-style: none;}

body{
    font-family: "Saira Stencil One", serif;
    color: $text-color;
}
.body.light{
    color: $text-light-color;
}


.app{
    height: 100vh;
    position: relative;
}


