@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$title-font: "Saira Stencil One", serif;
$text-font: 'GmarketSansMedium';
$text-color: #fff;
$text-point-color: #9EFFBB;
$title-font-size: 12rem;
$subtitle-font-size: 5rem; 






