@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
//폰트
$title-font: "Saira Stencil One", serif;
$text-font: 'GmarketSansMedium';
//폰트컬러
$text-color: #fff;
$text-light-color: #FFAAFF;
$text-point-color: #9EFFBB;
//폰트사이즈
$title-font-size: 12rem;
$subtitle-font-size: 5rem; 
//반응형
$breakpoint-small: 500px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1440px;





